#img_1{
  opacity: 0;
  width: 200px;
  height: 200px;
}
#img_2{
  opacity: 0;
  width: 200px;
  height: 200px;
}
#img_3{
  opacity: 0;
  width: 200px;
  height: 200px;
}
#btn{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:gray ;
}

.img{
  width: 200px;
  height: 200px;
  border: 2px dashed gray;
  position: relative;
  margin: 10px;
}

.img_upload {
  display: flex;
  justify-content: space-around;
}

.output{
  position: absolute;
  top: 0;
  left: 0;
}