:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: underline;
}


.container{
  margin: 0 auto;
  height: 150vh;
  /* animation: mymove 1s; */

  max-width: 1112px;
}

.header{
  max-width: 1112px;
  margin: 0 auto;
}

#log-in li{
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content{
  margin-top: 80px;;
  max-width: 1112px;
}

.tongquan{
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row{
  margin-top: 50px;
  background-color: #fff;
  padding: 10px;
}
.total{
  width: 25%;
  height: 120px;
  border-radius: 5px;
  margin-left: 15px;
  color: #ffffff;
  padding: 10px;
  transition: all 1s;
}

.total:hover{
  transform: scale(1.1);
  border: 5px solid rgba(255, 255, 255, 0.59);
}

.total p {
  margin: 0;
}
#donchoduyet{
  background-color: #fd7e14;
}
#dondaduyet{
  background-color: #029df0;
}
#dondahuy{
  background-color: #fd1414;
}
#donthanhcong{
  background-color: #238d00;
}

.footer-infor{
  background-image: url('../img/thefreshshop.com.gif');
  background-size: cover;
  background-position: center;
  width: 1112px;
  height: 250px;
 }