.content-add{
  position: absolute;
  z-index: 999999;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0px;
  margin-top: 0px;
  display: none;
  background-color: rgba(160, 160, 160, 0.8);
}


.addNhanVien{
  position: absolute;
  padding: 20px 10px;
  width: 500px;
  background-color: white;
  animation: mymove 1.5s;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 50%;
  border-radius: 8px;
}
.content-update{
  position: absolute;
  z-index: 999999;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0px;
  margin-top: 0px;
  display: none;
  background-color: rgba(160, 160, 160, 0.8);
}


.updateNhanVien{
  position: absolute;
  padding: 20px 10px;
  width: 500px;
  background-color: white;
  animation: mymove 1.5s;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  top: 45%;
  left: 50%;
  border-radius: 8px;
}

@keyframes mymove {
  0%   {top: -40%;
    opacity: 0;
  }

  100% {top: 45%;
    opacity: 1;
  }
}